/*  . = classe
# = id
tag = div  */
/* root= raiz do Html(ele todo) */
:root{
    --main-color: #811c50;
    --nav-color: #bf136f;
    --bg-color: #e8f3f1;
    --black: #3f2231;
    --card-color: #cf718f;
    --border: 0.1rem solid var(--card-color);
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }
/* todo o site */
*{
    margin: 0;
     padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.5s ease-in;
}
html {
    font-size: 65.5%;
    overflow-x: hidden;
}
body {
    background-color: var(--bg-color);
}
section{
    padding: 2rem 7%;
}
.btn{
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    font-size: 1.7rem;
    padding: 0.8rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
}
.btn:hover{
    letter-spacing: 0.2rem;
}
.title{
    /* text-shadow: 2px 2px 0 var(--card-color), -2px -2px 0 var(--card-color), 
        -2px 2px 0 var(--card-color),  2px -2px 0 var(--card-color); */
    text-align: center;
    color: var(--nav-color);
    text-transform: uppercase;
    padding: 3.5rem 0;
    font-size: 4rem;
}
.title span{
    color: var(--main-color);
}
 /* cabeçalho */
.header {
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 16vh;
    z-index: 1000;
}
.header .logo img {
    height: 8rem;
    border-radius: 50%;
}
.header .navbar a {
    color: #fff;
    font-size: 1.8rem;
    margin: 0 1rem;
}
.header .navbar a:hover{
    color: var(--black);
    border-top: 0.3rem solid var(--black);
    border-bottom: 0.3rem solid var(--black);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.header .icons {
    display: flex;
}
.header .icons div{
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}
.header .icons div:hover {
    color: var(--black);
}
.header .icons .menu-icon{
    display: none;
}
 /* caixa de pesquisa(search box) */
.header .search-form {
    display: flex;
    align-items: center;
    position: absolute;
    top: 115%;
    right: -100%;
    width: 45rem;
    height: 4.5rem;
    background-color: #fff;
}
.header .search-form.active {
    right: 7%;
}
.header .search-form input {
    width: 100%;
    height: 100%;
    padding: 1rem;
    font-size: 1.3rem;
    color:var(--black);
    text-transform: none;
}
.header .search-form label {
    color: var(--black);
    font-size: 2rem;
    padding-right: 1.3rem;
    cursor: pointer;
}
.header .search-form label:hover {
    color: var(--main-color);
}
/* home section starts*/
.home {
    display: flex;
    align-items: center;
    min-height: 84vh;
    margin-top: 16vh;
    background-color: #811c50;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.home .hero{
    width: 60rem;
    margin-left: 5rem;
}
.home .hero h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
    align-items: center;
}
.home .hero p{
    font-size: 2rem;
    font-weight: lighter;
    line-height: 2.5rem;
    padding: 1rem 0;
    color: #eee;
}
/*skincare section */
.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}
.skincare .wrapper .skin-care{
    background-color: var(--card-color);
    padding: 3rem 2rem;
    text-align: center;
}
.skincare .wrapper .skin-care:hover{
    transform: scaleY(1.06);
    background-color: var(--nav-color);
}
.skincare .wrapper .skin-care:hover *:not(a){
    color: var(--main-color);
}
.skincare .wrapper .skin-care img{
    width: 100%;  
}
.skincare .wrapper .skin-care h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0; 
}
.skincare .wrapper .skin-care .skintext{
    color: #fff;
    font-size: 1.8rem;
    padding: 0.5rem 0;  
}
/* nais section */
.nailscare .wrapper .nails-care{
    text-align: center;
    background-color: #eac7c7;
    padding: 2.5rem;
    border: var(--border);
}
.nailscare .wrapper .nails-care:hover{
    box-shadow: var(--box-shadow);
}
.nailscare .wrapper .nails-care .img{
    padding: 2.5rem 0;
}
.nailscare .wrapper .nails-care .img img{
    height: 20rem;
}
.nailscare .wrapper .nails-care .content h3{
    color: #fff;
    font-size: 2.5rem;
    margin: 1rem 0;
}
.nailscare .wrapper .nails-care .content .nailstext{
    color: #fff;
    font-size: 1.8rem;
    text-decoration: none;
}
/* hair section */
.haircare .wrapper .hair-care{
    text-align: center;
    background-color: #ffca9f;
    padding: 2.5rem;
    border: var(--border);
}
.haircare .wrapper .hair-care .img{
    padding: 2.5rem 0;
}
.haircare .wrapper .hair-care .img img{
    height: 20rem;
    object-fit: contain;
}
.haircare .wrapper .hair-care .content h3{
    color: #fff;
    font-size: 2.2rem;
    padding-bottom: 1.5rem;
}
.haircare .wrapper .hair-care .content .hairtext{
    color: grey;
    font-size: 1.5rem;
    line-height: 2.5rem;
    text-decoration: none;
}
.haircare .wrapper .hair-care:hover .content .hairtext{
    color: var(--black);
}
.haircare .wrapper .hair-care .content .btn a{
    color: var(--black);
    padding: 2rem;
}
.haircare .wrapper .hair-care .content .btn{
    transform: scale(0);
}
.haircare .wrapper .hair-care:hover .content .btn{
    transform: scale(1);
}
/* 

.hair-care .wrapper .card .img{
 width: 100%;
}
.hair-care .wrapper .card .img img{
 height: 100%;
 object-fit: contain; 
 width: 100%;
}
.hair-care .wrapper .card .content{
    padding: 2rem;
}
.hair-care .wrapper .card .content a:nth-of-type(1){
    font-size: 2.5rem;
    line-height: 5rem;
    color: var(--black);
}
.hair-care .wrapper .card .content p{
    color: grey;
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.hair-care .wrapper .card:hover .content p{
    color: var(--black);
}
*/
/* about us section */
.about .cotainer{
    display: flex;
    justify-content: center;
    background-color: var(--black);
}